<div class="section-title text-center">
    <h3>Testimonials</h3>
    <p class="lead">We thanks for all our awesome testimonials! There are hundreds of our happy customers! <br>Let's see what others say about GoodWEB Solutions website template!</p>
</div><!-- end title -->

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="testi-carousel owl-carousel owl-theme">

            @foreach(var t in Model.Testimonials)
            {
                <div class="testimonial clearfix">
                    <div class="desc">
                        <h3><i class="fa fa-quote-left"></i> @t.Title</h3>
                        <p class="lead">@t.Description</p>
                    </div>
                    <div class="testi-meta">
                        <img src="@t.ImgUrl" alt="" class="img-responsive alignleft">
                        <h4>@t.Name <small>- @t.Occupation</small></h4>
                    </div>
                </div>
            }

        </div><!-- end carousel -->
    </div><!-- end col -->
</div>