@model IEnumerable<RazorPages.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToList().Take(100)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteCount)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                         <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><text> </text>
                    }
                    if (User.IsInRole("User"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a><text> </text>
                    }
                    if (User.IsInRole("Admin"))
                    {
                         <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
